@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}






label{
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
}

input{
    height: 30px;
    width: 100px;
    font-size: 16px;
    font-weight: bolder;
    background-color: blue;
    color: white;
    border-radius: 5px;
}







